%inter-400{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
%inter-500{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
%sen-700{
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
}
main{
    padding: 80px 0;
    background: #F4F0F8;
    .text-content{
        text-align: center;
        h1{
            @extend %sen-700;
            font-size: 56px;
            line-height: 64px;
            text-align: center;
            letter-spacing: -2px;
            color: #232536;
            margin-bottom: 16px;
        }
        p{
            @extend %inter-400;
            color: #6D6E76;
            margin-bottom: 32px;
        }
        button{
            border: none;
            a{
                @extend %inter-500;
                letter-spacing: 3px;
                text-transform: uppercase;
                color: #232536;
            }
            a:hover{
                color:  #FFD050;
                transition: all 0.5s;
            }
        }
    }
}
.contents{
    margin-bottom: 87px;
    .search{
        margin: 57px 0;
        input{
            width: 100%;
            height: 76px;
            padding-left: 24px;
            @extend %inter-400;
            border-radius: 1px;
            border: 2px solid rgba(109, 110, 118, 0.5);
        }
    }
    .cards{
        margin-bottom: 90px;
        .card{
            display: flex;
            gap: 48px;
            margin-bottom: 32px;
            img{
                width: 447px;
                height: 312px;
            }
            .card-text{
                width: 779px;
                a{
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 3px;
                    text-transform: uppercase;
                    color: #592EA9;
                }
                h2{
                    @extend %sen-700;
                    font-size: 36px;
                    line-height: 48px;
                    letter-spacing: -2px;
                    color: #232536;
                    margin-top: 20px;
                    margin-bottom: 64px;
                }
                p{
                    @extend %inter-400;
                    color: #6D6E76;
                }
            }
        }
    }
    .pagination{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        span{
            a{
                @extend %sen-700;
                font-size: 24px;
                line-height: 32px;
                color: #6D6E76;
            }
        }
        a{
            @extend %sen-700;
            font-size: 28px;
            line-height: 40px;
            color: #232536;
        }
    }
}